html {
  scroll-behavior: smooth;
}

body {
  background-color: #4c444c;
  font-family: 'Kanit', sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

#frontPage {
  display: flex;
  justify-content: center;
  align-items: middle;
  height: 100vh;
  font-weight: 700;
  font-size: 8em;

}

a#glow {
  text-decoration: none;
  color: white;
}

a#glow:hover {
  text-shadow: 0 0 20px #fff, 0 0 30px #93b9c0, 0 0 40px #485b85, 0 0 50px #2e2f5e, 0 0 60px #d8cbd1, 0 0 70px #e9e1e5, 0 0 80px #e6d9df;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

@keyframes glow {
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #93b9c0, 0 0 40px #485b85, 0 0 50px #2e2f5e, 0 0 60px #d8cbd1, 0 0 70px #e9e1e5, 0 0 80px #e6d9df;
  }
}

#stagePage {
  height: 99vh;
  text-align: center;
  margin-top: 1vh;
}

.titleGroup {
  display: flex;
  height: 2vh;
  width: 90vw;
  padding-top: 1vh;
  padding: 10px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 10px;
  background-color: white;
  color: #4c444c;
  border-radius: 25px;
  font-size: 100%;
  align-items: center;
  justify-content: center;
}

.titleGroup a {
  text-decoration: none;
  color: #4c444c;
  font-size: 2em;
  font-weight: 700;
}

#stageTitle {
  color: #4c444c;
}

nav a {
  margin: 8px;
  color: white;
}

nav a:hover {
  font-style: italic;
}

.stageGroup {
  margin-top: 3vh;
}
.stage {
  border-style: solid;
  border-width: 2px;
  height: 72vh;
  width: 90vw;
  margin: auto;
  margin-bottom: 8vh;
  text-align: center;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
}

footer {
  height: 5vh;
  width: 90vw;
  padding-top: 1vh;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  color: #4c444c;
  text-align: center;
  border-radius: 25px;
}



/* tab css stuff */
.tabcontent {
  display: none;
  animation: fadeEffect 2s;
}

.postcontent {
  display: none;
  animation: fadeEffect 2s;
  color: white;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab a.active {
  color: black;
  background-color: white;
  opacity: 50%;
}