body {
  background-color: #4c444c;
  font-family: 'Kanit', sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.frontpage {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
  font-weight: 700;
  font-size: 100px;

}

p#changer:hover {
  text-shadow: 0 0 20px #fff, 0 0 30px #93b9c0, 0 0 40px #485b85, 0 0 50px #2e2f5e, 0 0 60px #d8cbd1, 0 0 70px #e9e1e5, 0 0 80px #e6d9df;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

@keyframes glow {
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #93b9c0, 0 0 40px #485b85, 0 0 50px #2e2f5e, 0 0 60px #d8cbd1, 0 0 70px #e9e1e5, 0 0 80px #e6d9df;
  }
}

#stagePage {
  height: 100vh;
  text-align: center;
}

.titleGroup {
  height: 12vh;
  padding-top: 3vh;
}
nav a {
  margin: 8px;
  color: white;
}

nav a:hover {
  font-style: italic;
}

.stageGroup {
  height: 80vh;
}
.stage {
  border-style: solid;
  border-width: 2px;
  height: 70vh;
  width: 90vw;
  margin: auto;
  margin-bottom: 10vh;
  text-align: center;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
}

footer {

  height: 4vh;
  width: 90vw;
  padding-top: 1vh;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  color: #4c444c;
  text-align: center;
  border-radius: 25px;
}