<!DOCTYPE html>
<html>
  <head>
  {{- partial "head.html" . -}}
  </head>
  <body>
    {{- block "main" . }}
      <div id="frontPage">
        <a id="glow" href="#stagePage">{{ .Title }}</a>
      </div>
      <div id="stagePage">
        <div class="titleGroup">
          <a id="stageTitle" href="#frontPage">{{ .Title }}</a>
        </div>

        <div class="stageGroup">
          <nav class="homepage-header">
          {{- partial "header.html" . -}}
          </nav>

          <div class="stage">
          Simplicity is Key
          <br>
          {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
          {{ range $pages }}
          {{.Title}}
          {{end}}

          </div>  

          <footer>
          {{- partial "footer.html" . -}}
          </footer>
        </div>

      </div>
    {{- end }}
  </body>
</html>

