<head>
  {{- partial "head.html" . -}}
</head>

<body>
   
<div class="frontpage">
    <p id="changer" onclick="clickChange('stagePage')">vigdev</p>
</div>

<div id="stagePage">
  <div class="titleGroup">
    <h1 class="stageTitle">{{.Title}}</h1>
  </div>

 <div class="stageGroup"> 
  <header class="homepage-header">
    {{- partial "header.html" . -}}
  </header>
  <div class="stage">
    this is stage box
    <br>
    <div>
      {{ range first 10 .Site.RegularPages }}
        <ul>
          <li><a class="stageTitle" href="{{ .Permalink }}">{{ .Title }}</a></li>
        </ul>
      {{ end }}
    </div>
  </div>
</div>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</div>
</body>