<!DOCTYPE html>
<html>
  <head>
  {{- partial "head.html" . -}}
  </head>
  <body>
    {{- block "main" . }}
      <div id="frontPage">
        <a id="glow" href="#stagePage">{{ .Title }}</a>
      </div>
      <div id="stagePage">
        <div class="titleGroup">
          <a id="stageTitle" href="#frontPage">{{ .Title }}</a>
        </div>

        <div class="stageGroup">
          <nav>
          {{- partial "header.html" . -}}
          </nav>

          <div class="stage">
            <div class="stageContent" id="changer">
              Simplicity is Key
              <br>
              <br>
              <!-- Default/ list all posts -->    
              {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
              {{ range $pages }}
              <a href="{{.Permalink}}">{{.Title}}</a>
              <br>
              {{end}}
              <!-- About -->  
              <div id="about">
                about div
              </div>
              <!-- Contact -->  
            </div>
          </div>  

          <footer>
          {{- partial "footer.html" . -}}
          </footer>
        </div>

      </div>
    {{- end }}
    
  </body>

</html>

